.navbar {
  width: 100%;
  background: white;
  z-index: 99;
  position: fixed;
}

.navContainer {
  padding: 0 4rem;
  margin: 0 auto;
  box-shadow: 0 4px 16px rgb(216, 216, 216);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .navLogo {
  width: 60px;
  height: 70px;
} */

.logo {
  cursor: pointer;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.liElement {
  list-style-type: none;
}

.links {
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-family: "Balsamiq Sans", cursive;
  font-size: large;
  color: black;
  font-weight: bolder;
  position: relative;
}

.links::after {
  content: "";
  width: 100%;
  position: absolute;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, red, yellow);
  /* background-color: ; */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.links:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navBtn {
  margin: 0 10px;
  color: black;
  text-decoration: none;
}

.icon:hover {
  color: rgb(102, 102, 102);
  animation: shake 0.2s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.loader {
  margin: 500px;
}

.cartContainer {
  padding: 10px;
}

.cartBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(204, 204, 204);
  width: 60px;
  border-radius: 20px;
}

.profileCartContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.displayToggle {
  display: none;
}

.faTimes {
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out;
}

.faBars {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .menuToggle {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menuToggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .linkContainer {
    flex-direction: column;
    width: 100%;
    position: absolute;
    background: rgb(165, 165, 165);
    right: 0;
    top: 60px;
    transition: all 0.5s ease-in-out;
  }

  .close {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }

  .link {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  .liElement {
    padding: 20px 0px;
  }
}
